*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

/* HEADER */
.header{
    display:flex;
    align-items:center;
    gap:25px;
    background:linear-gradient(135deg,#111,#444);
    color:white;
    padding:30px 20px;
}

.logo{
    width:120px;
    border-radius:12px;
}

.header-text h1{
    font-size:34px;
}

.header-text p{
    margin-top:6px;
    font-size:15px;
    opacity:0.9;
}

/* NAV */
nav{
    display:flex;
    justify-content:center;
    gap:12px;
    padding:15px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    background:#eee;
    padding:10px 18px;
    border-radius:25px;
    color:#111;
    font-weight:600;
    transition:0.3s;
}

nav a:hover{
    background:#111;
    color:white;
}

/* SECTIONS */
section{
    max-width:1100px;
    margin:auto;
    padding:50px 20px;
}

section h2{
    text-align:center;
    margin-bottom:35px;
    font-size:30px;
}

/* MENU */
.menu-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.menu-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    padding-bottom:20px;
}


.menu-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.menu-card h3{
    margin:15px;
}

.menu-card p{
    margin:0 15px 10px;
    font-size:14px;
    color:#555;
}

.menu-card span{
    margin-left:15px;
    font-weight:bold;
}

/* FOOTER */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:35px 20px;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:600px){
    .header{
        flex-direction:column;
        text-align:center;
    }
}
